.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  align-items: center;
  justify-content: center;
}

.modal-overlay.open {
  display: flex;
}

.modal {
  width: 320px;
  padding: 24px;
  background: white;
  border-radius: 8px;
}
